
# Binaries
bin/
*.exe
*.dll
*.so
*.dylib

# Certificates
certs/
*.pem
*.key
*.crt

# Agent Identity
agent.id

# NodeJS
node_modules/
npm-debug.log
web/dashboard/node_modules/
web/dashboard/dist/
web/dashboard/.eslintcache

# OS
.DS_Store
Thumbs.db
